* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.cabeca {
    background-color: #009edd;
    height: 65px;
    padding-top: 5px;
    border-bottom: 15px solid black;
}

h1 {
    text-align: center;
    margin: -2.5% auto;
}

img {
    margin: auto;
    margin-left: 38%;
    margin-top: 15px;
}

.buscadoCep {
    background-color: #ffd900;
    max-width: 100%;
    height: 100px;
    text-align: center;
    box-shadow: 2px 4px #0000003a;
}

input {
    padding: 15px ;
    padding-right: 150px;
    margin: auto;
    margin-top: 25px;
    border: transparent;
    outline: none;
    border-radius: 10px 0 0 10px;
}

input:hover {
    outline: #0094d8 solid;
}

label {
    font-weight: bold;
}

.btn {
    padding: 15px 27px;
    border: transparent;
    background-color: #00aeff;
    color: white;
    cursor: pointer;
    margin-left: -3.8px;
    border-radius: 0 10px 10px 0;
}

.btn:hover {
    background-color: #0094d8;
}

.enderecoStyle {
    display: flex;
    justify-content: center;
    max-width: 60%;
    height: 100px;
    margin: 10px auto;
    background-color: #f7f7f7;
    outline: transparent;
    border: 1px solid #3636362a;
    box-shadow: 5px 6px #0000002f;
}

.enderecoStyle p {
    font-weight: bold;
    padding-top: 40px;
}

.rodape {
    width: 100%;
    height: 50px;
    background-color: #ffd900;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-weight: bold;
    border-top: 2px solid black;
}

.rodape p {
    padding-top: 15px;
}
